body {
    font-family: 'Montserrat', sans-serif;
}
.block1 h1 {
    font-family: 'Caveat Brush', cursive;
}
header .block1 {
    display: flex;
    justify-content: space-between;
}
header .block1 h1 {
    margin: 0px;
    margin-top: 10px;
}
header .block1 .textelogo{
    line-height: 30px;
}
header .block1 nav ul li {
    display: inline-block;
    padding: 5px 10px;
}
header .block1 nav ul li a {
    text-decoration: none;
}
header .block2 {
    display: flex;
    justify-content: space-between;
}
header .block2 {
    align-items: center;
    margin-top: 15px;
}
header .block2 .formulaire {
    display: flex;
    width: 40%;
}
header .block2 form #localisation {
    padding: 6px;
    border-right-style: none;
    border-left-style: none;
    border-width: 0.5px;
    border-top-width: 1px;
    border-color: rgb(192, 191, 191);
}
header .block2 form i {
    background-color: rgb(192, 191, 191);
    border-style: none;
    border-radius: 10px 0px 0px 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 8px;
}
header .block2 .button {
    background-color: blue;
    color: white;
    border-radius: 0px 10px 10px 0px;
    border-style: none;
    padding: 7px;
}
header .block2 .filtre {
    flex: 2;
    text-align: center;
    padding-right: 15px;
    margin: 0%;
    font-weight: bold;
}
header .block2 ul {
    display: flex;
    width: 45%;
    padding: 0px;
    margin: 0px;
}
header .block2 ul li {
    display: flex;
    align-items: center;
    border-color: rgb(192, 191, 191);
    border-style: solid;
    border-left: none;
    border-width: 0.1px;
    padding: 0px 10px 0px 0px;
    margin-left: 30px;
    border-radius: 26px;
}
header .block2 ul li i {
    display: block;
    text-align: center;
    background-color: blue;
    color: white;
    margin-right: 6px;
    padding: 8px;
    border-radius: 25px;
    width: 20px;
    height: 20px;
}
header p {
    margin: 0px;
}
header p i {
    color: blue;
}


.main {
    margin-top: 40px;
}
.main .favoris {
    background-color: rgb(242, 242, 242);
    border-radius: 20px;
    padding: 40px;
}
.main .favoris .favoristexte {
    text-align: center;
    color: blue;
    font-weight: bold;
    font-size: x-large;
    margin-top: 0px;
}
.main .favoris .articles{
    display: flex;
    justify-content: space-between;
}
.main .favoris article {
    background-color: white;
    border-radius: 20px;
    width: 330px;
}
.main .favoris article img {
    display: flex;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    width: 95%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.main .favoris article p {
    margin: 10px;
}
.main .favoris article .gras {
    font-weight: bold;
}
.main .favoris article .emote {
    padding-bottom: 20px;
    padding-left: 10px;
}
.main .hebergements {
    width: 70%;
}
.main .hebergements .second2 {
    background-color: rgb(242, 242, 242);
    border-radius: 25px;
    margin: 20px 20px 20px 20px;
}
.main .hebergements .textehebergements {
    text-align: center;
    color: blue;
    font-weight: bold;
    background-color: white;
    padding: 10px;
    margin: 20px 20px 20px 20px;
    border-style: solid;
    border-radius: 25px;
    border-color: rgb(242, 242, 242);
}
.main .hebergements article {
    width: 30%;
}
.main .hebergements article img {
    display: flex;
    text-align: center;
    margin-right: 0px;
    width: 60%
}
.second {
    display: flex;
}
.second .hebergements .sb1 {
    display: flex;
    flex-wrap: wrap;
}
.main .luxe {
    display: flex;
    flex-direction: column;
    flex: 1;
    height:max-content;
    background-color: rgb(242, 242, 242);
    border-radius: 25px;
    margin: 10px;
}
.main .luxe .texteluxe {
    text-align: center;
}
.main .luxe article {
    background-color: white;
    text-align: center;
    width: 100%;
    border-radius: 25px;
    margin: 10px;
}
.main .luxe article img {
    padding: 10px;
    width: 300px;
    height: 200px;
}